version: 2
updates:
  - package-ecosystem: "npm"
    directory: "/my-react-ts-app"
    schedule:
      interval: "weekly"

  - package-ecosystem: "github-actions"
    directory: "/"
    schedule:
      interval: "weekly"
