name: Deploy-Azure

on:
  push:
    branches:
      - main
  workflow_dispatch:

permissions:
  contents: read

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v6

      - name: Install pnpm
        uses: pnpm/action-setup@v4
        with:
          version: latest

      - name: Set up Node.js version
        uses: actions/setup-node@v6
        with:
          node-version: '20.x'
          cache: 'pnpm'
          cache-dependency-path: my-react-ts-app/pnpm-lock.yaml

      - name: Install, build, and test
        run: |
          cd my-react-ts-app
          pnpm install --frozen-lockfile
          pnpm run build
          pnpm run test --if-present

      - name: Zip artifact for deployment
        run: |
          cd my-react-ts-app/dist
          zip -r ../../release.zip .

      - name: Upload artifact for deployment job
        uses: actions/upload-artifact@v6
        with:
          name: node-app
          path: release.zip

  deploy:
    runs-on: ubuntu-latest
    needs: build
    environment:
      name: 'Production'
      url: ${{ steps.deploy-to-webapp.outputs.webapp-url }}

    steps:
      - name: Download artifact from build job
        uses: actions/download-artifact@v7
        with:
          name: node-app

      - name: Unzip artifact for deployment
        run: unzip release.zip -d deploy

      - name: 'Deploy to Azure Web App'
        id: deploy-to-webapp
        uses: azure/webapps-deploy@v3
        with:
          app-name: 'NicoFilips'
          slot-name: 'Production'
          package: deploy
          publish-profile: ${{ secrets.AZUREAPPSERVICE_PUBLISHPROFILE_BFE5248AF90F44FDB5E2A35B409A0B0D }}
